<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InterpolatorWF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <InterpolatorWF.Properties.Settings>
            <setting name="TabSelection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueSimpleX1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueSimpleX2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueSimpleY1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueLinearX1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueLinearX2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueLinearX3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueLinearY1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueLinearY3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueBilinearX1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueBilinearX2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueBilinearX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueBilinearY1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueBilinearY2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueBilinearY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueBilinearQ11" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueBilinearQ12" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueBilinearQ21" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ValueBilinearQ22" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowDivZeroError" serializeAs="String">
                <value>False</value>
            </setting>
        </InterpolatorWF.Properties.Settings>
    </userSettings>
</configuration>